<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Music Lab</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-nav">
            <div class="container-fluid">
              <a  class="navbar-brand" style="color:#c973ff" href="/">
              <img src="./images/MusiclabLogo.svg" alt="Music Lab Logo">Music Lab</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                  <!-- <a class="nav-link active" aria-current="page" href="./index.html">Home</a> -->
                  <a class="top-nav" href="/create"><i class="nav-icon fas fa-plus"></i> Create</a>
                  <a class="top-nav" href="/community"><i class="nav-icon fas fa-users"></i> Community</a>
                  <a class="top-nav" href="/dashboard"><i class="nav-icon fas fa-user-circle"></i> Dashboard</a>
                  {{!-- <a class="top-nav" href="./blog.html"><i class="nav-icon fas fa-blog"></i> Blog</a> --}}
                  <a id="logout" class="top-nav"><i class="nav-icon fas fa-sign-out-alt"></i>Logout</a>
                  </div>
              </div>
            </div>
          </nav>
    </header>

    {{{body}}}
    
    <footer>
        <div class="card text-center">
            <div class="card-body bg-dark-footer">
              <h5 class="card-title">Music Lab</h5>
              <p class="card-text">Copyright 2021 &copy; Fullstack Course -- University of Minnesota</p>              
            </div>
         </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    
</body>
</html>
