<main>        
    <div class="background">
          <h1>Music Lab Community</h1>
          <h3>Here you will find all songs created by other users, feel free to choose any song to listen to and make comments.</h3>
    </div>
    <div class="container">
        <div id="search-results" class="row">
        {{#if songs.length}}
                {{#each songs as |song|}}   
                    <div class="stored-com comm-card-dark col-lg-3 col-md-10 col-sm-12 ml-1">
                        <a style="color: #fff;" href="./song/{{song.id}}" >
                            <div class="card-body">                        
                                <h4 class="card-title">{{song.title}}</h4>
                                <p class="card-text">{{song.description}}</p> 
                                <p><strong>Creator:</strong> {{user.username}}</p>                       
                            </div>
                        </a>    
                    </div>
                {{/each}}
            {{/if}}
         </div>   
    </div>
</main>

<script src="./js/logout.js"></script>