<main>
    <div class="background">
          <h1>Music Lab Dashboard</h1>
          <h3>On this page you can navigate to the create page to create more songs, or community page. You will also find all your saved songs here.</h3>
        </div>
        <div class="container">
            <div id="search-results" class="row">
                <div class="cust-card-dark col-lg-5 col-md-10 col-sm-12">
                    <a href="./create"><div class="card-body">                        
                        <h4 class="card-title">Create Music</h4>
                        <div class="dash-icon">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div></a>
                </div>
                <div class="cust-card-dark col-lg-5 col-md-10 col-sm-12">
                <a href="./community"><div class="card-body">                        
                        <h4 class="card-title">Music Lab Community</h4>
                        <div class="dash-icon">
                            <i class="dash-icon fas fa-users"></i>
                        </div>
                    </div></a>
                </div>
            </div>
            <div id="search-results" class="row">
                <div class="cust-card-dark col-12">
                    <div class="card-body">                        
                        <h4 class="card-title">Stored Songs</h4>
                        <p style="text-align: center;" class="card-text">All saved songs are listed below</p>                        
                        <div id="search-results" class="row">
                            {{#if songs.length}}
                                {{#each songs as |song|}}
                                <div class="comm-card-dark col-lg-12 col-md-10 col-sm-12">
                                    <a style="color: #fff;" href="./song/{{song.id}}:" >
                                        <div class="stored card-body">                        
                                            <h4 class="card-title">{{song.title}}</h4>
                                        </div>
                                    </a>    
                                </div>
                                {{/each}}
                            {{/if}}    
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <footer>
        <div class="card text-center">
            <div class="card-body bg-dark-footer">
              <h5 class="card-title">Music Lab</h5>
              <p class="card-text">Copyright 2021 &copy; Fullstack Course -- University of Minnesota</p>              
            </div>
         </div>
    </footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="./js/logout.js"></script>